<%- include('partials/head')%>
    <%- include('partials/navbar')%>
    <h1>Welcome to the homepage</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet eaque exercitationem consequuntur in sapiente, culpa nobis neque soluta, ratione dolore inventore, praesentium beatae repellendus reprehenderit eos quidem tempore libero!
    Rerum blanditiis error et suscipit corrupti rem, quod corporis ducimus animi, maiores voluptas repellendus! Repudiandae culpa perspiciatis, earum veritatis nesciunt velit similique temporibus, commodi id placeat labore, vitae harum quia.
    Dolores corporis, libero possimus doloribus provident soluta? Officia enim maxime aut repellat maiores iure optio animi recusandae facere dolor nemo non ipsam, temporibus nulla? Facilis tempore suscipit pariatur reprehenderit inventore!</p>
<%- include('partials/footer')%>